//? * Default CSS *
* {
    padding: 0;
    margin: 0;
}

body,html {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

//? * Custom CSS *
.body-wrapper {
    span {
        color: orange;
    }
}